<table
  aria-hidden="false"
  width="100%"
  style="background-color: transparent; width: 100%; padding: 2px 48px 20px 48px"
 
    <tbody>
        <tr id="x_logo">
            <td>
                <a
                href="https://www.sysprocard.com.br/"
                target="_blank"
                rel="noopener noreferrer"
                data-auth="NotApplicable"
                title="Site oficial Banco Inter"
                tabindex="0"
                aria-hidden="false"
                role="link"
                data-linkindex="4"
                ><img
                    data-imagetype="External"
                    src="https://online.sysprocard.com.br/Images/emails/logo.png"
                    data-assetid="15538"
                    alt="Site do Inter"
                    role="presentation"
                    width="60"
                    height="50"
                    
                /></a>
                <br aria-hidden="true" /><br aria-hidden="true" />
            </td>
        </tr>


        <td class="x_stylingblock-content-wrapper x_camarker-inner" 
            style="padding:5px 0px 0px">
            <div style="line-height:200%">
            <div style="font-family: Arial, Helvetica, sans-serif;">
            <span style="font-size: 20px">
    
        
            <span style="color:#000000">Prezado(a)</span> 
            <span style="color:#ff7a00"> {{Nome}}</span> 
            
            <br aria-hidden="true">Disponibilizamos para você a sua senha de acesso 
            aos serviços da <b>Sysprocard</b> </br>

            <span style="color: #000000"> Senha: </span>
            <span style="color:#ff7a00"> <b>{{Senha}}</b> </span>
            <br aria-hidden="true">Após seu acesso, você poderá altera-la para uma senha pessoal
            de até 20 dígitos.</span>
			
			<br></br>
			
            <span style="font-size:18px"> Acesse o portal syspro em www.sysprocard.com.br e aproveite
            os serviços disponíveis para você. </span>
			
			<br></br>
			
            <span style="font-size:18px"> <b>Qualquer necessidade estamos a disposição atraves dos
            canais de atendimento abaixo. </b></span>

        </span></div></td>

        <tr id="x_contatos">
            <td>
            <span
                style="
                font-size: 12px;
                line-height: 1;
                font-family: Arial, Helvetica, sans-serif;
                text-align: left;
                "
                ><div style="font-size: 16px; line-height: 1">
                <br aria-hidden="true" />
                <div>
                    <a
                    href="https://wa.me/551621030090"
                    target="_blank"
                    rel="noopener noreferrer"
                    data-auth="NotApplicable"
                    title="Fale no chat"
                    tabindex="0"
                    aria-hidden="false"
                    role="link"
                    style="text-decoration: none; color: #796a38; line-height: 2.5"
                    data-linkindex="27"
                    ><u
                        ><img
                        data-imagetype="External"
                        src="https://online.sysprocard.com.br/Images/emails/chat.png"
                        data-assetid="112892"
                        alt="Fale no chat"
                        role="presentation"
                        width="145"
                        height="40" /></u
                    ></a>
                </div>
                
                <br aria-hidden="true" />WhatsApp:
                <a
                    href="https://wa.me/551621030090"
                    target="_blank"
                    rel="noopener noreferrer"
                    data-auth="NotApplicable"
                    title="Telefone SYSPRO"
                    tabindex="0"
                    aria-hidden="false"
                    role="link"
                    style="text-decoration: none; color: #ff7a00"
                    data-linkindex="43"
                    >16 2103 0090</a
                >
                <br aria-hidden="true" /><br aria-hidden="true" />
        
                
                <a
                    href="email: atendimento@sysprocard.com.br"
                    target="_blank"
                    rel="noopener noreferrer"
                    data-auth="NotApplicable"
                    title="Email"
                    tabindex="0"
                    style="text-decoration: none; color: #ff7a00"
                    data-linkindex="29"
                    >E-mail</a
                >
                (atendimento@sysprocard.com.br) <br aria-hidden="true" />
                
                <br aria-hidden="true" />SAC:
                <a
                    href="tel:+021030090"
                    target="_blank"
                    rel="noopener noreferrer"
                    data-auth="NotApplicable"
                    title="Telefone SYSPRO"
                    tabindex="0"
                    aria-hidden="false"
                    role="link"
                    style="text-decoration: none; color: #ff7a00"
                    data-linkindex="33"
                    >16 2103 0090</a
                >
                <br aria-hidden="true" /><br aria-hidden="true" />
                </div>
            
            </td>
        </tr>

        <tr id="x_social-media" aria-hidden="false" style="align-content: left">
            <td style="padding: 1px 1px">
                <a
                href="https://www.facebook.com/SysproCard"
                target="_blank"
                rel="noopener noreferrer"
                data-auth="NotApplicable"
                title="Facebook da Syspro"
                tabindex="0"
                aria-hidden="false"
                role="link"
                style="text-decoration: none"
                data-linkindex="5"
                ><img
                    data-imagetype="External"
                    src="https://online.sysprocard.com.br/Images/emails/facebook.png"
                    data-assetid="81901"
                    alt="Facebook da Syspro"
                    role="presentation"
                    width="30"
                    height="30"
                    style="margin-right: 12px; display: inline-block"
                /> </a
                ><a
                href="https://www.instagram.com/sysprocard/"
                target="_blank"
                rel="noopener noreferrer"
                data-auth="NotApplicable"
                title="Instagram da Syspro"
                tabindex="0"
                aria-hidden="false"
                role="link"
                style="text-decoration: none"
                data-linkindex="6"
                ><img
                    data-imagetype="External"
                    src="https://online.sysprocard.com.br/Images/emails/instagram.png"
                    data-assetid="81902"
                    alt="Instagram da Syspro"
                    role="presentation"
                    width="30"
                    height="30"
                    style="margin-right: 12px; display: inline-block"
                /> </a
                ><a
                href="https://www.youtube.com/channel/UCRV6ugQVImw9Wp3C355jV4w"
                target="_blank"
                rel="noopener noreferrer"
                data-auth="NotApplicable"
                title="Youtube da Syspro"
                tabindex="0"
                aria-hidden="false"
                role="link"
                style="text-decoration: none"
                data-linkindex="8"
                ><img
                    data-imagetype="External"
                    src="https://online.sysprocard.com.br/Images/emails/youtube.png"
                    data-assetid="81898"
                    alt="Youtube da Syspro"
                    role="presentation"
                    width="30"
                    height="30"
                    style="margin-right: 12px; display: inline-block"
                /> </a
                >
            </td>
        </tr>
    </tbody>
</table>